/*general*/
.no-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.05rem; }

/*Navbar*/
.navbar {
  background: linear-gradient(-45deg, #b180ff 0%, #07009c 100%);
  padding: 0.5rem 2rem; }

.navbar .logo {
  width: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px .2px #ffffff; }

.navbar .nav-item {
  color: #ffffff !important;
  padding: .5rem 1rem !important; }

.navbar .nav-link {
  color: #ffffff !important;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500; }

.navbar .nav-link:hover {
  color: rgb(11, 2, 49) !important;
  font-weight: 500;
  font-size: 0.8rem;
 }

.navbar i {
  font-size: 1rem;
  color: #070641 !important; }

.Iconics {
  margin-left: 50px;
  display: flex; }


  .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: 0px;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 120% 120%;
}

.btn{
  justify-content: end;
}
/*Carousel*/
.carousel-item {
  height: 50vh; }

@media (min-width: 992px) {
  .carousel-item {
    height: 95vh !important; } }

.slide0 {
  background-image: url(../img/fot1.jpg);
  background-position: center center;
  background-size: auto;
  background-position-y: 145px; 
  }

.slide1 {
  background-image: url(../img/fot2.png);
  background-position: center center;
  background-size: cover;
  background-position-y: 50px
}

.slide2 {
  background-image: url(../img/fot3.jpg);
  background-position: center center;
  background-size: cover;
  background-position-y: 50px
}

.carousel-caption {
  color: white;
  background-color: rgba(2, 2, 2, 0.5);
  border-radius: 10px; }

.carousel-item {
  height: 110vh; }

.card-img {
  flex-shrink: unset;
  width: 100%; }
h1{
  color: #110771;
      }


h2,
h3,
h5,
h6 {
  font-family: 'Roboto',sans-serif;
  font-weight: 800 !important;
  line-height: 1.5rem !important;
  text-transform: uppercase; }

h4 {
  color: black;
  font-weight: 800 !important; }

.mt-6 {
  margin-top: 4rem; }

.blog-info {
  color: white;
  bottom: 1rem;
  left: 1.5rem; }

@media (max-width: 992px) {
  .navbar {
    background: linear-gradient(45deg, #041368 0%, #7648e0 100%);
    padding: 0.5rem 2rem; }
  .navbar .logo {
    width: 80px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px .5px #ffffff; }
  .navbar .nav-item {
    color: #ffffff !important; }
  .navbar .nav-link {
    font-size: 1rem;
    color: #fff !important; }
  
  .navbar .nav-link:hover {
    color: rgb(13, 2, 75) !important;
    font-weight: 800;
    font-size: 1rem;
    color: #030124 !important;
    font-weight: 800; }
  .navbar i {
    font-size: 1.2rem; }
  .Iconics {
    display: flex;
    justify-content: flex-end; }
  .display-3{
    font-weight: 800 !important;
    font-size: 3rem;

  }
}


/* .jumbotron1 .container{
  padding: 5rem 4rem 2rem;
  background-image: url(../img/mc1.jpg) !important;
  } */

/* .ColourOne{
    background-image: url(../img/mc1.jpg) !important;

} */
.jumbotron {
  padding: 10rem 4rem 2rem;
  background-image: url(../img/bgk02.jpg);
  background-size: 100%;
  background-position-y:300px;
  max-width: 100%;
 }
  .jumbotron h1 {
    color: #110771; }

.contenedorFeature {
  padding: 10rem 4rem 2rem; }

.MainProd {
  padding: 10rem 4rem 2rem; }

table {
  background-color: #cccccc; }


.bd-placeholder-img{
  background-image: url(../img/laptop-1209008_640.jpg);
  background-size: 100%;

}

.bd-placeholder-img1{
  background-image: url(../img/mc1.jpg);
  background-size: 50%;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.background {
  padding: 0 25px 25px;
  position: relative;
  width: 100%;
}

.background::after {
  content: '';
  /* background: #60a9ff;
  background: -moz-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
  background: -webkit-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
  background: linear-gradient(to bottom, #60a9ff 0%, #4394f4 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60a9ff', endColorstr='#4394f4', GradientType=0);
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 900px) {
  .background {
    padding: 0 0 25px;
  }
}

.container {
  margin: 0 auto;
  padding: 50px 0 0;
  max-width: 960px;
  width: 100%;
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
  width: 150px;
}

.pricing-header {
  color: rgb(75, 75, 75);
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color: #016FF9;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: #016FF9;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348EFE;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #2718af;
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #110771;
}

.changes {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1517457373958-b7bdd4587205?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
h2 .charlemos{
  background-color: #cccccc !important;
  text-transform: uppercase;
}