/*general*/
.no-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .05rem; }

/*Navbar*/
.navbar {
  background: linear-gradient(-45deg, #b180ff 0%, #07009c 100%);
  padding: 0.5rem 2rem; }

.navbar .logo {
  width: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px .2px #ffffff; }

.navbar .nav-item {
  color: #ffffff !important;
  padding: .5rem 1rem !important; }

.navbar .nav-link {
  color: #0f0322 !important;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500; }

.navbar .nav-link:hover {
  color: white !important;
  font-weight: 500; }

.navbar i {
  font-size: 1rem; }

.Iconics {
  margin-left: 50px;
  display: flex; }

/*Carousel*/
.carousel-item {
  height: 50vh; }

@media (min-width: 992px) {
  .carousel-item {
    height: 95vh !important; } }

.slide0 {
  background-image: url(../img/fot1.jpg);
  background-position: center center;
  background-size: auto; }

.slide1 {
  background-image: url(../img/fot2.png);
  background-position: center center;
  background-size: cover; }

.slide2 {
  background-image: url(../img/fot3.jpg);
  background-position: center center;
  background-size: cover; }

.carousel-caption {
  color: white;
  background-color: rgba(2, 2, 2, 0.5);
  border-radius: 10px; }

.carousel-item {
  height: 100vh; }

.card-img {
  flex-shrink: unset;
  width: 100%; }
h1{
  color: #110771;
      }

}
h2,
h3,
h5,
h6 {
  font-family: 'Roboto',sans-serif;
  font-weight: 800 !important;
  line-height: 1.5rem !important;
  text-transform: uppercase; }

h4 {
  color: black;
  font-weight: 800 !important; }

.mt-6 {
  margin-top: 4rem; }

.blog-info {
  color: white;
  bottom: 1rem;
  left: 1.5rem; }

@media (max-width: 992px) {
  .navbar {
    background: linear-gradient(45deg, #041368 0%, #7648e0 100%);
    padding: 2rem 2rem; }
  .navbar .logo {
    width: 80px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px .2px #ffffff; }
  .navbar .nav-item {
    color: #ffffff !important; }
  .navbar .nav-link {
    font-size: 1rem;
    color: #fff !important; }
  .navbar .nav-link:hover {
    color: #030124 !important;
    font-weight: 900; }
  .navbar i {
    font-size: 1.2rem; }
  .Iconics {
    display: flex;
    justify-content: flex-end; } }


.jumbotron1{
  padding: 5rem 4rem 2rem;
  }

.jumbotron {
  padding: 10rem 4rem 2rem; }
  .jumbotron h1 {
    color: #110771; }

.contenedorFeature {
  padding: 10rem 4rem 2rem; }

.MainProd {
  padding: 10rem 4rem 2rem; }

table {
  background-color: #cccccc; }


.bd-placeholder-img{
  background-image: url(../img/laptop-1209008_640.jpg);
  background-size: 100%;

}

.bd-placeholder-img1{
  background-image: url(../img/mc1.jpg);
  background-size: 50%;
}